<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.fhsapp.client"
    version     = "0.0.1"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.3.0" />

    <name>FHS App</name>

    <description>FHS App </description>

    <author href="http://fhsapp.com" email="harmonicnw@gmail.com">Dustin, Griffin, Julian, Josh</author>
    
    <!-- hide status bar -->
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    	<false/>
	</gap:config-file>
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
</widget>